*.attributes
*.data
*.horn
*.intervals
*.json
*.R
*.statistics
*.status
*.o
*.exe
*/sorcar
sorcar
BenchmarksCompiled/asorcar
*/BenchmarksCompiled/asorcar
*/BenchmarksCompiled/asorcarf
*/BenchmarksCompiled/asorcart
*/BenchmarksCompiled/asorcarr
*/BenchmarksCompiled/asorcarft
*/BenchmarksCompiled/asorcarfr
*/BenchmarksCompiled/asorcartr
*/BenchmarksCompiled/asorcarftr
*/BenchmarksCompiled/asorcarfirst
*/BenchmarksCompiled/asorcarfirstf
*/BenchmarksCompiled/asorcarfirstt
*/BenchmarksCompiled/asorcarfirstr
*/BenchmarksCompiled/asorcarfirstft
*/BenchmarksCompiled/asorcarfirstfr
*/BenchmarksCompiled/asorcarfirsttr
*/BenchmarksCompiled/asorcarfirstftr
*/BenchmarksCompiled/ahorndini
*/BenchmarksCompiled/ahorndinif
*/BenchmarksCompiled/ahorndinit
*/BenchmarksCompiled/ahorndinir
*/BenchmarksCompiled/ahorndinift
*/BenchmarksCompiled/ahorndinifr
*/BenchmarksCompiled/ahorndinitr
*/BenchmarksCompiled/ahorndiniftr
/results/variants
res.csv
res1.csv