gpuverify/testsuite/**/*.bpl
gpuverify/testsuite/**/*.cbpl
gpuverify/testsuite/**/*.gbpl
gpuverify/testsuite/**/*.loc
gpuverify/testsuite/**/*.bc
learner/**/*.o
learner/**/sorcar
learner/**/*.exe
benchmarks/**/*.attributes
benchmarks/**/*.data
benchmarks/**/*.R
benchmarks/**/*.horn
benchmarks/**/*.intervals
benchmarks/**/*.status
benchmarks/**/*.cbpl
benchmarks/**/*.bc
benchmarks/**/*.gbpl
benchmarks/**/*.loc
benchmarks/**/*.json
benchmarks/**/*.statistics
.vscode
.vs
houdiniCexTrace*.*

/**/variants2/*
/**/variants3/*
vanila_gpuverify.txt
